.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 26px;

  .header__menu{
    display: none;
    cursor: pointer;
  }


  .header__logo {
    flex-grow: 1;
    text-align: center;


    img {
      flex-grow: 1;
    }
  }

  .header__search {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}


