.page{
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
}

.log_reg {
  background-color: #eee;
  margin: 0 auto;
  width: 600px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 black;
  h2{
    font-size: 30px;
    margin-bottom: 16px;
  }
}

.btn {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

}

.btn_primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;

  &:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }
}

.btn_link {
  font-weight: 400;
  color: #337ab7;
  border-radius: 0;

  &:hover {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control .has-error{
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.help-block {
  display: none;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #a94442;
}

.form-group{
  margin-bottom: 16px;
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
  }
}