@media screen and (max-width: 500px){
    .header{
      padding: 30px 0 0;
      .header__menu{
        display: block;
      }
      margin-bottom: 38px;
    }
  .nav{
    display: none;
  }
  .product_item{
    width: 336px;
  }
  .header-search-to-input{
    input{
      width: 150px;
      top: 140%;
      right: 0;
      transform: translateY(0);
    }
  }
}