@media screen and (max-width: 500px){
    .header{
      .header__menu{
        display: block;
      }
      margin-bottom: 38px;
    }
  .nav{
    display: none;
  }
  .product_item{
    width: 336px;
  }
  .menu{

  }

}