.menu {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 85%;
  height: 100%;
  background-color: #ffff;
  transform: translateX(-100%);
  transition: transform 200ms ease-out;

  .menu_header {
    padding: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #E9E9E9;

    .menu-closed{
      cursor: pointer;
    }

  }
  .nav_menu{
    display: block;
  }
}

.active{
  transform: translateX(0);
}
