.nav-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
  padding: 20px 0;
  gap: 32px;
  margin-bottom: 48px;

  .-item-link {
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    color: #000000;
    transition: color 200ms ease-out;

    &:hover  img {
      color: #969696;
    }
    img{
      transform: rotate(-90deg);
    }

  }

  li:last-child img {
    display: none;
    color: red;
  }
}

.nav__list:last-child .nav__subnav {
  display: none;
}

.nav__list .nav__subnav.onmenu{
  display: block;
}

/*SUB NAVIGATION*/

.nav__subnav {
  display: none;
  position: absolute;
  top: 100%;
  width: 176px;

  padding: 20px;
  background-color: #FFFFFF;
  border: 1px solid #E9E9E9;

  a {
    display: flex;
    justify-content: space-between;
    Font-family: 'Roboto', sans-serif;
    font-size: 13px;
    flex-grow: 1;
    color: #000000;
    line-height: 13px;
    margin-bottom: 8px;
    transition: color 200ms ease-out;

    img {
      transform: rotate(-90deg);
    }

    &:hover {
      color: #969696;
    }
  }

  & ._subnav-li:last-child {
    margin-bottom: 0;
    border-bottom: 0;
  }

  ._subnav-li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: 1px solid #E9E9E9;
  }

}